<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="main w-full min-h-screen bg-zinc-900">
      <div class="flex w-full justify-end">
        <a
          class="bg-red-500 rounded-md px-3 py-2 inline-block m-3"
          href="/logout"
          >Logout</a
        >
      </div>
      <div class="form p-10 text-white">
        <form action="createtask" method="post">
          <input
            class="block px-5 py-2 bg-zinc-800 mt-2 w-full ronded-md outline-none"
            type="text"
            name="task"
            placeholder="Enter Your Tasks"
          />
          <input
            class="mt-2 bg-blue-600 px-5 py-2 rounded-md"
            type="submit"
            value="Add Task"
          />
        </form>
      </div>
      <h2 class="px-10 text-white">Your Posts</h2>
      <div class="flex gap-2 flex-wrap p-10">
        <% if (data.tasks.length > 0) { %>
        <!-- Code to be executed if the condition is true -->

        <% data.tasks.forEach(function(tasks){ %>

        <div
          class="flex justify-between w-full rounded-md px-3 py-1 bg-zinc-800"
        >
          <h2 class="text-white text-s tracking-tighter">
            <%= tasks.taskdata %>
          </h2>
          <div class="flex justify-end">
            <a
              class="bg-red-500 rounded-md px-3 py-2"
              href="/deletetask/<%= tasks._id %>"
              >Delete</a
            >
          </div>
        </div>

        <% }) %> <% } else { %>
        <!-- Code to be executed if the condition is false -->

        <h3 class="text-zinc-600">No Tasks</h3>
        <% } %>
      </div>
    </div>
  </body>
</html>
